<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="miniRpgSettingsSectionGroup">
      <section
        name="gameSettings"
        type="MiniRpg.Core.Impl.ConfigElements.GameSettingsSection, MiniRpg.Core"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <miniRpgSettingsSectionGroup>
    <gameSettings health="100" maxHealth="100" money="2" power="1" >
      <inventory>
        <clear />
        <add name="Sword" type="Weapon" />
        <add name="Shield" type="Clothes" />
      </inventory>
      <fightSettings>
        <winChance baseChance="0.4" powerScale="0.05" maxChance="0.7"></winChance>
        <win healthPenaltyScale="0.1" moneyUp="5"></win>
        <loose healthPenalty="40"></loose>
      </fightSettings>
      <shopSettings>
        <weapon weaponPrice="10" powerUpFrom="1" powerUpTo="2"></weapon>
        <clothes clothesPrice="0" maxHealthUpFrom="1" maxHealthUpTo="2"></clothes>
      </shopSettings>
      <healerSettings healPrice="3" healUp="10"></healerSettings>
    </gameSettings>
  </miniRpgSettingsSectionGroup>

</configuration>
