<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
    <sectionGroup name="miniRpgSettingsSectionGroup">
      <section 
        name="gameSettings" 
        type="MiniRpg.Core.GameSettingsSection, MiniRpg.Core" 
        allowLocation="true" 
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <miniRpgSettingsSectionGroup>
    <gameSettings health="100" maxHealth="100" money="2" power="1" >
     <inventory>
      <clear />
      <add name="Sword" type="Weapon" />
      <add name="Shield" type="Clothes" />
    </inventory>
    </gameSettings>>
  </miniRpgSettingsSectionGroup>

</configuration>
