<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Exclude all build executable configuration all together -->
  <BuildExecutable override="exclude"></BuildExecutable>

  <!-- Merge these changes in with what's already in the base configuration -->
  <!-- The override attribute will be read for the first occurrence in the setting family --> 
  <NUnitTestRunner framework="v3.5" override="merge">NewTestRunner for v3.5</NUnitTestRunner>
  <NUnitTestRunner framework="v4.0">NewTestRunner for v4.0</NUnitTestRunner>

  <!-- This will just override whatever XUnit config is in the base configuration -->
  <XUnitTestRunner>C:\XUnit\xunit.console.exe</XUnitTestRunner>

  <!-- merges in some extra assemblies to ignore -->
  <ShouldIgnoreTestAssembly override="merge">
    <Assembly>*System.dll</Assembly>
  </ShouldIgnoreTestAssembly>
</configuration>
